
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

#preload-01 { background: url("assets/icons/l.svg") no-repeat -9999px -9999px; }
#preload-02 { background: url("assets/icons/lw.svg") no-repeat -9999px -9999px; }
#preload-03 { background: url("assets/icons/r.svg") no-repeat -9999px -9999px; }
#preload-04 { background: url("assets/icons/rw.svg") no-repeat -9999px -9999px; }

:root {
  --bg: #fff;
  --main: #bfd3c1;;
  --main-l: rgba(191, 211, 193, 0.75);
  --main-ll: rgba(191, 211, 193, 0.1);
  --main-d: #98A89A;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100%;
  background-color: #eee;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: blue;
}

span {
  margin-left: 10px;
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) 1fr 8fr 1fr;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-areas: "sidebar empty-space content";
  padding: 10px;
  height: 1fr;
}

@media (max-width: 700px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-areas:  "a sidebar b"
                          "a content b";
    grid-template-columns: 1fr 100fr 1fr;
  }
}

@media (min-width: 1624px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-areas: "sidebar empty-1 content empty-2";
    grid-template-columns: 250px 1fr 1150px 1fr;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-items: center;
  grid-template-areas: "1 overlay-content 2";
  grid-template-columns: 1fr 3fr 1fr;
}

.overlay-content {
  background-color: white;
  grid-area: overlay-content;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-title {
  display: block;
  border: 5px solid var(--main);
  background-color: var(--main);
  text-align: center;
  color: #333;
}

.sidebar-title:hover {
  background-color: var(--main-d);
  color: white !important;
}

.info {
  padding: 6px;
  font-size: 12px;
  border: 5px solid var(--main);
  border-top: none;
  text-align: center;
  background-color: var(--bg);
}

.info__image {
  margin-top: 10px;
  border-radius: 50%;
  width: 70px;
}

.info__desc {
  color: #777;
  padding: 5px;
  font-style: italic;
}

.social-icons {
  width: 100%;
  padding: 10px 2px 0 2px;
}

.social-icons img {
  width: 16px;
}

.content {
  display: grid;
  grid-template-areas:
    "tab-btns-1"
    "tabs"
    "tab-btns-2"
    "footer";
  grid-template-rows: 30px minmax(50px, 1fr) fit-content(60px), minmax(50px, 50px);
  grid-template-columns: 1fr;
  grid-area: content;
  align-content: flex-start;
}

.tabs {
  grid-area: tabs;
  background-color: var(--bg);
}

.photos {
  display: none;
  grid-template-columns: repeat(auto-fill, 225px);
  grid-auto-rows: 225px;
  grid-auto-flow: dense;
  padding: 20px;
}

.photo {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  cursor: pointer;
  transition: all 0.2s ease;
}

.photo:hover {
  z-index: 2;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
}

.photo img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-btns {
  background-color: var(--main);
}

.tab-btns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-btns li {
  float: left;
  padding: 15px;
  color: black;
  cursor: pointer;
}

.active, .tab-btns li:hover {
  background-color: var(--main-d);
  color: white!important;
}

.scroll-up-btn {
  float: right!important;
}

h4 {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

h5 {
  font-size: 10px;
  margin-bottom: 7px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.project {
  border: 3px solid var(--main);
  position: relative;
  transition: all 0.1s ease;
  cursor: pointer;
}

.project:hover {
  border: 3px solid var(--main-d);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
}

.project:hover .project__details {
  background-color: var(--main-d);
  color: white;
}

.project:hover .project__image {
  -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.2s ease;
}

.project__details {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-l);
  color: black;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  transition: all 0.1s ease;
}

.project__name {
  font-size: 14px;
  padding: 0;
  margin: 4px;
  margin-bottom: 0px;
  font-weight: 700;
}

.project__desc {
  font-size: 12px;
  padding: 0;
  margin: 3px;
  margin-top: 0px;
}

.project-expanded {
  margin: 20px 0 20px 0;
  display: none;
  grid-template-columns: minmax(27px, 1fr) 25fr minmax(27px, 1fr);
  grid-template-areas:
  "top-bar top-bar      top-bar"
  "space-1 proj-e-img   space-2"
  "space-1 proj-e-det   space-2"
  "space-1 proj-e-desc  space-2";
  border: 5px solid var(--main);
  grid-column-gap: 10px;
}

.project-expanded-top-bar {
  width: 100%;
  height: 40px;
  background-color: var(--main);
  display: grid;
  grid-area: top-bar;
  position: relative;
}

.project-expanded-header {
  padding: 5px;
}

.project-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px 12px 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project-expanded-navi-btn {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 60% auto;
  background-position: center;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project-expanded-navi-btn:hover {
  background-color: var(--main-d);
  color: white;
  border-color: var(--main-d)
}

.navi-left {
  grid-area: space-1;
  background-image: url("/assets/icons/l.svg");
  border-right: 5px solid var(--bg);
}
.navi-left:hover {
  background-image: url("/assets/icons/lw.svg");
}

.navi-right {
  grid-area: space-2;
  justify-self: end;
  background-image: url("/assets/icons/r.svg");
  border-left: 5px solid var(--bg);
}
.navi-right:hover {
  background-image: url("/assets/icons/rw.svg");
}

.project-expanded__image {
  width: 100%;
  grid-area: proj-e-img;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  transition: all 1s ease;
  margin-top: 25px;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.project-expanded h3 {
  font-size: 20px;
}

.project-expanded-details {
  grid-area: proj-e-det;
  margin-top: 25px;
}

.project-expanded-details p {
  margin: 0 0 12px 0;
  border-bottom: 3px solid var(--main);
  font-size: 14px;
  color: #333;
}

.project-expanded__desc {
  grid-area: proj-e-desc;
  padding: 5px;
  margin-bottom: 40px;
}

.footer {
  grid-area: footer;
}

.cr {
  font-size: 13px;
  color: #222;
  float: right;
  /*
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  */
}
