
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/*
--bg: #fff;
--main: #ffc600;
--main-l: rgba(255, 198, 0, 0.7);
--main-d: #E5B200;
--gray: #E1DDD8;
*/

:root {
  --bg: #fff;
  --main: #bfd3c1;;
  --main-l: rgba(191, 211, 193, 0.7);
  --main-d: #98A89A;
  --gray: #E1DDD8;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  min-height: 100%;
  /*
  background-image: url("/assets/images/1.png"),linear-gradient(190deg, #F93D66, #6D47D9);
  background-size: auto;
  */
  background-color: #eee;
  margin: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: blue;
}

span {
  margin-left: 10px;
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(200px, 2fr) 1fr 12fr 1fr;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-areas: "sidebar empty-space content";
  padding: 10px;
  height: 1fr;
}

@media (max-width: 700px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-areas:  "a sidebar b"
                          "a content b";
    grid-template-columns: 1fr 100fr 1fr;
  }
}

@media (min-width: 1624px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-areas: "sidebar empty-1 content empty-2";
    grid-template-columns: 220px 1fr 1200px 1fr;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-items: center;
  grid-template-areas: "1 overlay-content 2";
  grid-template-columns: 1fr 3fr 1fr;
}

.overlay-content {
  background-color: white;
  grid-area: overlay-content;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.sidebar-title {
  display: block;
  border: 5px solid var(--main);
  background-color: var(--main);
  text-align: center;
  color: #333;
}

.sidebar-title:hover {
  background-color: var(--main-d);
  color: white !important;
}

.info {
  padding: 6px;
  font-size: 12px;
  border: 5px solid var(--main);
  border-top: none;
  text-align: center;
  background-color: white;
  /*
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  */
}

.info__image {
  margin-top: 10px;
  border-radius: 50%;
  width: 55px;
}

.info__desc {
  color: #777;
  padding: 5px;
  font-style: italic;
}

.social-icons {
  width: 100%;
  padding: 10px 2px 0 2px;
}

.social-icons img {
  width: 14px;
}

.content {
  display: grid;
  grid-template-areas:
    "tab-btns-1"
    "tabs"
    "tab-btns-2"
    "footer";
  grid-template-rows: 30px minmax(50px, 1fr) fit-content(60px), minmax(50px, 50px);
  grid-template-columns: 1fr;
  grid-area: content;
  align-content: flex-start;
}

.tabs {
  grid-area: tabs;
  /*
  border-left: 3px solid var(--main);
  border-right: 3px solid var(--main);
  */
  background-color: white;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.photos {
  display: none;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  padding: 20px;
}

.photo {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  cursor: pointer;
}

.photo img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-0 {
  grid-row: span 2;
}

.photo-1 {
  grid-row: span 2;
}

.photo-2 {
  grid-row: span 2;
}

.photo-3 {
  grid-row: span 2;
}

.photo-4 {
  grid-row: span 2;
}

.tab-btns {
  background-color: var(--main);
}

.tab-btns ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-btns li {
  float:left;
  display: block;
  padding: 15px;
  color: black;
  cursor: pointer;
}

.active, .tab-btns li:hover {
  background-color: var(--main-d);
  color: white!important;
}


h4 {
  font-size: 14px;
  /*letter-spacing: 1px;*/
  margin: 0;
  margin-top: 10px;
  margin-bottom: 1px;
}

h5 {
  font-size: 10px;
  margin-bottom: 7px;
}

.project {
  border: 3px solid var(--main);
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
}

.project:hover {
  border: 3px solid var(--main-d);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__details {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-l);
  color: black;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  text-align: center;
  /*border-top: 3px solid var(--main-d);*/
}

.project__name {
  font-size: 14px;
  padding: 0;
  margin: 4px;
  margin-bottom: 0px;
  font-weight: 700;
}

.project__desc {
  font-size: 12px;
  padding: 0;
  margin: 3px;
  margin-top: 0px;
}

.project-expanded {
  padding: 20px 0 30px 0;
  display: none;
  grid-template-columns: 1fr 15fr 1fr;
  grid-template-areas:
  "space-1 proj-e-title space-2"
  "space-1 proj-e-img space-2"
  "space-1 proj-e-det space-2"
  "space-1 proj-e-desc space-2";
  grid-gap: 10px;
}

.project-expanded-header {
  grid-area: proj-e-title;
  position: relative;
  width: 100%;
  display: block;
}

.project-close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.project-expanded img {
  width: 100%;
  /*max-height: 500px;*/
  grid-area: proj-e-img;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
}

.project-expanded h3 {
  margin-bottom: 10px;
}

.project-expanded__details {
  grid-area: proj-e-det;
}

.project-expanded__details p {
  margin: 0 0 10px 0;
  border-bottom: 3px solid var(--main);
  font-size: 14px;
  color: #333;
}

.project-expanded__desc {
  grid-area: proj-e-desc;
  padding: 10px;
}

.footer {
  grid-area: footer;
}

.cr {
  font-size: 13px;
  color: #222;
  float: right;
  /*
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  */
}
